:host {
  @apply block absolute w-full z-10;
}

nav {
  @apply w-full;

  > ul {
    @apply flex justify-center w-full list-none my-0 pl-0;

    > li {
      > h2 {
        @apply p-4 inline-block cursor-pointer leading-4;
      }

      &:hover {
        background: rgba(#000, 0.1);
        > ul {
          @apply block;
        }
      }

      > ul {
        @apply list-none my-0 pl-0 absolute hidden normal-case;
        min-width: 12rem;
        max-width: 18rem;
        background: rgba(#000, 0.1);

        > li {
          @apply p-4 cursor-pointer;
          &:hover {
            background: rgba(#000, 0.1);
          }
        }
      }
    }
  }
}
