<nav>
  <ul>
    <li class="nav-item">
      <h2 aria-haspopup="true">List One</h2>
      <ul class="nav-submenu">
        <li>
          <a> Item One</a>
        </li>
        <li>
          <a> Item Two</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <h2>List Two</h2>
      <ul class="nav-submenu">
        <li>
          <a> Item One</a>
        </li>
        <li>
          <a> Item Two</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <h2>List Three</h2>
      <ul class="nav-submenu">
        <li>
          <a> Item One</a>
        </li>
        <li>
          <a> Item Two</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <h2>List Four</h2>
      <ul class="nav-submenu">
        <li>
          <a> Item One</a>
        </li>
        <li>
          <a> Item Two</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
