<nav>
  <ul>
    <li class="nav-item">
      <a>List One</a>
      <ul class="nav-submenu">
        <li>
          <a> Item One</a>
        </li>
        <li>
          <a> Item Two</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a>List Two</a>
      <ul class="nav-submenu">
        <li>
          <a> Item One</a>
        </li>
        <li>
          <a> Item Two</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a>List Three</a>
      <ul class="nav-submenu">
        <li>
          <a> Item One</a>
        </li>
        <li>
          <a> Item Two</a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a>List Four</a>
      <ul class="nav-submenu">
        <li>
          <a> Item One</a>
        </li>
        <li>
          <a> Item Two</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
