:host {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 10;

  nav {
    width: 100%;

    > ul {
      display: flex;
      width: 100%;
      justify-content: center;

      list-style: none;
      padding-left: 0;
      margin-top: 0;
      margin-bottom: 0;

      > li {
        > a {
          padding: 1rem;
          line-height: 1rem;
          display: inline-block;
          cursor: pointer;
        }

        &:hover {
          background: rgba(#000, 0.1);
          > ul {
            display: block;
          }
        }

        > ul {
          list-style: none;
          padding-left: 0;
          margin-top: 0;
          margin-bottom: 0;
          font-weight: 300;
          text-transform: none;
          display: none;
          position: absolute;
          min-width: 12rem;
          max-width: 18rem;
          background: rgba(#000, 0.1);

          > li {
            padding: 1rem;
            cursor: pointer;
            &:hover {
              background: rgba(#000, 0.1);
            }
          }
        }
      }
    }
  }
}
