@import 'tailwindcss/base';
// @import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './app/styles/variables.scss';

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  outline: none !important;

  &:focus {
    box-shadow: 0px 0px 0px 2px $-red, 0px 0px 0px 3px #ffffff;
  }
}
